<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page CSS -->
    <link rel="stylesheet" href="/static/styles/styles_add_article.css">

    <title>Add Article</title>
</head>
    <body>
        <div class='div-outter'>
            <div class='div-inner'>
                <h1>Add Article</h1>
                <form class='form-input' action="/controlpanel/addarticle" method="POST">
                    <div class='div-one'>
                        <label for="">Body</label>
                        <br>
                        <textarea style="resize: none;" rows='10' cols='50' name='text'></textarea>
                    </div>
                    <div class='div-two'>
                        <label for="">Title</label>
                        <br>
                        <input type="text" name='title'>
                    </div>
                    <input class='button-submit' type="submit" value='Add'>
                </form>
            </div>
        </div>
    </body>
</html>