<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page CSS -->
    <link rel="stylesheet" href="/static/styles/styles_admin.css">

    <title>Sign In</title>
</head>
    <body>
        <div class='div-outter'>
            <div class='div-inner'>
                <h1>Login</h1>
                <% if (messages.error) { %>
                <%= messages.error %>
                <% } %>
                <form class='form-admin'action="/admin" method="POST">
                    <div class='div-email'>
                        <label for="email">Email</label>
                        <br>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class='div-password'>
                        <label for="password">Password</label>
                        <br>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button class='button-submit' type="submit">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>