<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQuery library via a Content Delivery Network (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Site CSS -->
    <link rel="stylesheet" href="/static/styles/styles_all.css">
    <!-- Page CSS -->
    <link rel="stylesheet" href="/static/styles/styles_articles.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis">

    <!-- Site JQuery -->
    <script type="text/javascript" src="/static/scripts/scripts_all.js" defer></script>
    <!-- Page  JQuery -->
    <script type="text/javascript" src="/static/scripts/scripts_articles.js" defer></script>

    <title>Document</title>
</head>
    <body>
        <div class="div-wrapper">



            <div class="div-header">
                <img
                srcset="/static/images/header_background_medium_long.jpg 1000w, /static/images/header_background_small_short.jpg 300w"
                sizes="(min-width: 600px) 1000px, (max-width: 600px) 300px"
                src="/static/images/header_background_medium_long.jpg"
                alt="Image Unavailable">

                <div class='div-navsection'>
                    <ul class='ul-navbar'>
                        <li>
                            <a href="/">Podcasts</a>
                        </li>x
                        <li>
                            <a href="/articles">Articles</a>
                        </li>
                    </ul>
                    <div class='div-underline'>
                        <div class='div-underline-move'></div>
                    </div>
                </div>

            </div>



            <div class="div-body">
                
            </div>



            <div class="div-footer">
                
            </div>



        </div>


    </body>
</html>