<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQuery library via a Content Delivery Network (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Site CSS -->
    <link rel="stylesheet" href="/static/styles/styles_all.css">
    <!-- Page CSS -->
    <link rel="stylesheet" href="/static/styles/styles_home.css">

    <!-- Site JQuery -->
    <script type="text/javascript" src="/static/scripts/jquery_all.js" defer></script>
    <!-- Page  JQuery -->
    <script type="text/javascript" src="/static/scripts/jquery_home.js" defer></script>

    <title>Document</title>
</head>
    <body>
        <div class="div-wrapper">



            <div class="div-header">

            </div>



            <div class="div-body">
                
            </div>



            <div class="div-footer">
                
            </div>



        </div>


    </body>
</html>