<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQuery library via a Content Delivery Network (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Site CSS -->
    <link rel="stylesheet" href="/static/styles/styles_all.css">
    <!-- Page CSS -->
    <link rel="stylesheet" href="/static/styles/styles_podcasts.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis">

    <!-- Site JQuery -->
    <script type="text/javascript" src="/static/scripts/scripts_all.js" defer></script>
    <!-- Page  JQuery -->
    <script type="text/javascript" src="/static/scripts/scripts_podcasts.js" defer></script>

    <title>Document</title>
</head>
    <body>
        <div class="div-wrapper">



            <div class="div-header">
                <img class='img-large' src="/static/images/header_background_medium.jpg" alt="Image Unavailable">
                <img class='img-small' src="/static/images/header_background_small_short.jpg" alt="Image Unavailable">

                <div class='div-navsection'>
                    <ul class='ul-navbar'>
                        <li>
                            <a href="/">Podcasts</a>
                        </li>
                        <li>
                            <a href="/articles">Articles</a>
                        </li>
                    </ul>
                    <div class='div-underline'>
                        <div class='div-underline-move'></div>
                    </div>
                </div>

            </div>



            <div class="div-body">
                <div class='div-body-left'></div>
                <div class='div-body-center'>
                    <% data.podcasts.forEach(function(podcast){ %>
                    <div class='div-box'>
                        <div class='div-box-inner-wrapper'>
                            <div class='div-img'>
                                <img src="" alt="">
                            </div>
                            <div class='div-text'>
                                <p>
                                    <%= podcast.text %>
                                </p>
                            </div>
                            <div class='div-link'>
                                <p>
                                    <a class='a-podcastlink' href="<%= podcast.link %>">PODCAST</a>
                                </p>
                            </div>
                            <div class='div-date'>
                                <p><%= podcast.date %></p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <div class='div-body-right'></div>
            </div>





            <div class='div-footer'>
                
            </div>





        </div>


    </body>
</html>