/* Variables */

/* Any sized devices */
/* Header */
/* Body */
body {
    background-color: #303030;

    margin: 0px;
}
.div-outter {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: #303030;

    padding: 0;
}
.div-inner {
    color: #fff;

    grid-row: 2;
    grid-column: 2;

    width: 500px;

    justify-self: center;
    align-self: center;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

    background-color: #1c1c1c;

    border: 3px solid #0e0e0e;

    padding-bottom: 30px;
}
.div-inner h1 {
    grid-row: 1;

    justify-self: center;
    align-self: center;
}
.form-admin {
    grid-row: 2;
    

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}
.div-email {
    grid-row: 1;
    
    justify-self: center;
    align-self: center;
}
.div-password {
    grid-row: 2;
    
    justify-self: center;
    align-self: center;
}
.button-submit {
    grid-row: 3;

    margin-left: 100px;
}
.button-cancel {
    grid-row: 3;

    margin-right: 100px;
}
/* Footer */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .div-inner {
        width: 450px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* Header */
    /* Body */
    /* Footer */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* Header */
    /* Body */
    /* Footer */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* Header */
    /* Body */
    /* Footer */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* Header */
    /* Body */
    /* Footer */
}