/* Variables */

/* Any sized devices */
/* Header */
/* Body */
body {
    background-color: #303030;
}
.div-wrapper {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;

    background-color:  #1c1c1c;
    color: #fff;
}
.div-wrapper h1 {
    grid-row: 1;
    grid-column: 1;

    justify-self: center;
    align-self: center;
}
.form-admin {
    width: 200px;
    height: 100px;

    grid-row: 2;
    grid-column: 1;

    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-columns: 1fr;
}
.div-email {
    grid-row: 1;
    grid-column: 1;

    justify-self: center;
    align-self: center;
}
.div-password {
    grid-row: 2;
    grid-column: 1;

    justify-self: center;
    align-self: center;
}
.button-submit {
    width: 100px;
    height: 20px;
    grid-row: 3;
    grid-column: 1;

    justify-self: center;
    align-self: center;
}

/* Footer */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Header */
    /* Body */
    /* Footer */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* Header */
    /* Body */
    /* Footer */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* Header */
    /* Body */
    /* Footer */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* Header */
    /* Body */
    /* Footer */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* Header */
    /* Body */
    /* Footer */
}