/* Variables */
/* Any sized devices */

body {
    /* background-color: #303030; */
    margin: 0px;
}



/* Header */
.div-header {
    width: 100%;
    height: 524px;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-header [class^='img-header'] {
    width: 100%;
    height: 100%;
    object-fit: cover;

    grid-row: 1;
    grid-column: 1;

    z-index: 0;
}
.div-navsection {
    width: 100%;
    height: 500px;
    /* background-color: #212121; */

    grid-row: 1;
    grid-column: 1;

    z-index: 1;

    display: grid;
    grid-template-rows: 20px 1fr 3px 30px;
    grid-template-columns: 1fr;
}
.div-ul-social {
    grid-row: 1;
    grid-column: 1;

    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;

    padding: 5px;
}
.ul-social {
    grid-row: 1;
    grid-column: 1;

    justify-self: start;
    align-self: center;
}
.ul-social li {
    float: left;
    list-style-type: none;

    margin-left: 5px;
    margin-right: 5px;
}
.ul-social li:hover {
    opacity: 0.8;
}
.ul-navbar {
    grid-row: 2;
    grid-column: 1;

    justify-self: center;
    align-self: end;

    padding: 0px;
    margin: 0px;
}
.ul-navbar li {
    float: left;
    width: 96px;

    list-style-type: none;

    /* margin-left: 20px;
    margin-right: 20px; */

    /* Prevent text selection highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome, Edge, Opera and Firefox */
}
.ul-navbar li p {
    color: #fff;
    font-size: 20px;
    font-family: 'Dosis';
    text-decoration: none;
}
.ul-navbar li p:hover {
    cursor: pointer;
}
.div-underline {
    width: 289px;
    height: 3px;

    grid-row: 3;
    grid-column: 1;

    justify-self: center;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-underline-move {
    width: 96px;
    height: 3px;
    background-color: #fff;

    justify-self: start;
}
.div-separator {
    height: 30px;

    display: block;

    grid-row: 4;
    grid-column: 1;

    background-color: #0e0e0e;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-separator img {
    grid-row: 1;
    grid-column: 1;

    justify-self: start;
    align-self: center;
    margin-left: 10px;
}
.p-podcasts:hover {
    cursor: default;
}
.p-articles:hover {
    cursor: default;
}











/* Body */
.div-buffer {
    display: block;
    background-color: 303030;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;

    display: grid;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 1fr;  
}
.div-buffer img {
    grid-row: 1;
    grid-column: 1;

    justify-self: center;
    align-self: center;
}
/* Home */
.div-body-left-h {
    /* background-color: var(--bg-lite); */
    background-color: #1c1c1c;
    
    grid-column: 1;
    grid-row: 1;
}
.div-body-center-h {
    /* background-color: var(--bg-dark); */
    background-color: #303030;
  
    grid-column: 2;
    grid-row: 1;
  
    align-content: center;
    justify-content: center;
    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-body-right-h {
    /* background-color: var(--bg-lite); */
    background-color: #1c1c1c;
  
    grid-column: 3;
    grid-row: 1;
}
.div-body-center-card-h {
    grid-row: 1;
    grid-column: 1;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    background-color: #1c1c1c;

    /* This lovely property here makes the element's width span the entire container */
    display: block;
}









/* Podcasts */
.div-body-left-p {
    /* background-color: var(--bg-lite); */
    background-color: #1c1c1c;
    
    grid-column: 1;
    grid-row: 1;
}
.ul-body-center-p {
    /* background-color: var(--bg-dark); */
    background-color: #303030;

    padding-bottom: 5px;
    padding-left: 0px;
    margin: 0px;
  
    grid-column: 2;
    grid-row: 1;
  
    align-content: center;
    justify-content: center;
  
    overflow-y: scroll;
}
.ul-body-center-p li {
    list-style-type: none;
}
  /* Hide scrollbar for Chrome, Safari and Opera */
.ul-body-center-p::-webkit-scrollbar {
    display: none;
}
  /* Hide scrollbar for IE, Edge and Firefox */
.ul-body-center-p {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.div-body-right-p {
    /* background-color: var(--bg-lite); */
    background-color: #1c1c1c;
  
    grid-column: 3;
    grid-row: 1;
}
.div-box-p {
    height: auto;
    margin: auto;

    background-color: #1c1c1c;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;

    /* This lovely property here makes the element's width span the entire container */
    display: block;
}



.div-box-inner-wrapper-p {
    display: grid;
    grid-template-rows: 40px auto 20px;
    grid-template-columns: 1fr 10fr 1fr;

    background-color: #1c1c1c;
}
.div-img-p {
    grid-row: 1;
    grid-column: 1;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-title-p {
    font-size: 18px;

    grid-row: 1;
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-text-p {
    font-size: 14px;
    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    padding: 40px;
}
.div-text-p p{
    white-space: pre-line;
}
/* .div-link-p {
    font-size: 14px;
    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
} */
.div-date-p {
    font-size: 14px;
    grid-row: 3;
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
/* For some reason padding is being added automatically, remove it */
[class^='div-'] p {
    color: #aaaaaa;
    text-align: center;
    align-self: center;
    margin: 0px;

    grid-row: 1;
    grid-column: 1;
}
[class^='div-'] p a{
    text-decoration: none;
}










/* Articles */
.div-body-left-a {
    /* background-color: var(--bg-lite); */
    background-color: #1c1c1c;
    
    grid-column: 1;
    grid-row: 1;
}
.ul-body-center-a {
    /* background-color: var(--bg-dark); */
    background-color: #303030;

    padding-bottom: 5px;
    padding-left: 0px;
    margin: 0px;
  
    grid-column: 2;
    grid-row: 1;
  
    align-content: center;
    justify-content: center;
  
    overflow-y: scroll;
}
.ul-body-center-a li {
    list-style-type: none;
}
  /* Hide scrollbar for Chrome, Safari and Opera */
.ul-body-center-a::-webkit-scrollbar {
    display: none;
}
  /* Hide scrollbar for IE, Edge and Firefox */
.ul-body-center-a {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.div-body-right-a {
    /* background-color: var(--bg-lite); */
    background-color: #1c1c1c;
  
    grid-column: 3;
    grid-row: 1;
}
.div-box-a {
    height: auto;
    margin: auto;

    background-color: #1c1c1c;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;

    /* This lovely property here makes the element's width span the entire container */
    display: block;
}




.div-box-inner-wrapper-a {
    display: grid;
    grid-template-rows: 40px auto 20px;
    grid-template-columns: 1fr 10fr 1fr;

    background-color: #1c1c1c;
}
.div-img-a {
    grid-row: 1;
    grid-column: 1;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-title-a {
    font-size: 18px;

    grid-row: 1;
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-text-a {
    font-size: 14px;

    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    padding: 40px;
}
.div-text-a p{
    white-space: pre-line;
}
.div-date-a {
    font-size: 14px;

    grid-row: 3;
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
/* For some reason padding is being added automatically, remove it */
[class^='div-'] p {
    color: #aaaaaa;
    text-align: center;
    align-self: center;
    margin: 0px;

    grid-row: 1;
    grid-column: 1;
}
[class^='div-'] p a{
    text-decoration: none;
}





[class^='div-sidebar-'] {
    width: 300px;
    background-color: #181818;
    z-index: 100;
    position: absolute;
}
.div-header-sidebar {
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 1fr;
}
.div-header-sidebar p{
    grid-row: 1;
    grid-column: 1;

    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    justify-self: center;
    align-self: center;

    cursor: default;
}
[class^='ul-titles-'] {
    padding: 0px;
}
[class^='ul-titles-'] li {
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 1fr;
}
[class^='ul-titles-'] li p{
    grid-row: 1;
    grid-column: 1;

    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;

    justify-self: center;
    align-self: center;
}
[class^='ul-titles-'] li:hover {
    background-color: #1c1c1c;
    cursor: pointer;
}





.div-outter-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    background-color: #1c1c1c;
}
.div-wrapper-h {
    grid-row: 1;
    grid-column: 1;

    z-index: 1;
}
.div-wrapper-p {
    grid-row: 1;
    grid-column: 1;

    z-index: 0;
}
.div-wrapper-a {
    grid-row: 1;
    grid-column: 1;

    z-index: 0;
}










/* Footer */
.div-footer {
    height: 0px;
}


































/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Header */
    .div-header {
        height: 250px;
    }
    .div-navsection {
        height: 250px;
    }



    /* Body */
    .div-body-h {
        width: 100%;
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .div-body-p {
        width: 100%;
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .div-text-p {
        padding: 10px;
    }
    .div-body-a {
        width: 100%;
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .div-text-a {
        padding: 10px;
    }
}






























/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* Header */
    /* Make the height of the header smaller here */
    .div-header {
        height: 250px;
    }
    .div-navsection {
        height: 250px;
    }



    /* Body */
    .div-body-h {
        width: 100%;
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .div-body-p {
        width: 100%;
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .div-text-p {
        padding: 40px;
    }
    .div-body-a {
        width: 100%;
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .div-text-a {
        padding: 40px;
    }
}




























/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* Header */
    .div-header {
        height: 500px;
    }
    .div-navsection {
        height: 500px;
    }



    /* Body */
    .div-body-h {
        width: 100%;
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 5fr 1fr;
    }
    .div-body-p {
        width: 100%;
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 5fr 1fr;
    }
    .div-body-a {
        width: 100%;
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 5fr 1fr;
    }
}

























/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}























/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}