/* Variables */

/* Any sized devices */
body {
    margin: 0px;
}











/* Header */
.div-header {
    width: 100%;
    height: 500px;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-header [class^='img-'] {
    width: 100%;
    height: 100%;
    object-fit: cover;

    grid-row: 1;
    grid-column: 1;

    z-index: 0;
}
.div-navsection {
    width: 100%;
    height: 500px;
    /* background-color: #212121; */

    grid-row: 1;
    grid-column: 1;

    z-index: 1;

    display: grid;
    grid-template-rows: 1fr 3px 6px;
    grid-template-columns: 1fr;
}
.ul-navbar {
    grid-row: 1;
    grid-column: 1;

    justify-self: center;
    align-self: end;

    padding: 0px;
    margin: 0px;
}
.ul-navbar li {
    float: left;

    list-style-type: none;

    margin-left: 40px;
    margin-right: 40px;
}
.ul-navbar li p {
    color: #fff;
    font-size: 20px;
    font-family: 'Dosis';
    text-decoration: none;
}
.div-underline {
    width: 240px;
    height: 3px;

    grid-row: 2;
    grid-column: 1;

    justify-self: center;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-separator {
    height: 6px;

    display: block;

    grid-row: 3;
    grid-column: 1;

    background-color: #131313;
}
.p-podcasts:hover {
    cursor: default;
}
.p-articles:hover {
    cursor: default;
}












/* Podcasts */
/* Body */
.div-form-add-p {
    display: block;
}
.div-form-add-p div{
    justify-self: center;
    align-self: center;

    text-decoration: none;
}
.div-box-inner-wrapper-p {
    display: grid;
    grid-template-rows: auto 20px 20px 20px;
    grid-template-columns: 1fr 10fr 1fr;

    background-color: #1c1c1c;
}
.div-img-p {
    grid-row: 1;
    grid-column: 1;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-text-p {
    font-size: 14px;
    grid-row: 1;
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    padding: 40px;
}
.div-link-p {
    font-size: 14px;
    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-date-p {
    font-size: 14px;
    grid-row: 3;
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-form-p {
    font-size: 14px;
    grid-row: 4;
    grid-column: 2;

    justify-self: center;
    align-self: center;
}
/* For some reason padding is being added automatically, remove it */
[class^='div-'] p {
    color: #aaaaaa;
    text-align: center;
    align-self: center;
    margin: 0px;

    grid-row: 1;
    grid-column: 1;
}
[class^='div-'] p a{
    text-decoration: none;
}























/* Articles */
/* Body */
.div-form-add-a {
    display: block;
}
.div-form-add-a div{
    justify-self: center;
    align-self: center;

    text-decoration: none;
}
.div-box-inner-wrapper-a {
    display: grid;
    grid-template-rows: 40px auto 20px 20px;
    grid-template-columns: 1fr 10fr 1fr;

    background-color: #1c1c1c;
}
.div-img-a {
    grid-row: 1;
    grid-column: 1;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-title-a {
    font-size: 14px;

    grid-row: 1;
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-text-a {
    font-size: 14px;

    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    padding: 40px;
}
.div-date-a {
    font-size: 14px;

    grid-row: 3;
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.div-form-a {
    font-size: 14px;
    grid-row: 4;
    grid-column: 2;

    justify-self: center;
    align-self: center;
}
/* For some reason padding is being added automatically, remove it */
[class^='div-'] p {
    color: #aaaaaa;
    text-align: center;
    align-self: center;
    margin: 0px;

    grid-row: 1;
    grid-column: 1;
}
[class^='div-'] p a{
    text-decoration: none;
}


















.div-outter-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    background-color: #1c1c1c;
}
.div-wrapper-p {
    grid-row: 1;
    grid-column: 1;
}
.div-wrapper-a {
    grid-row: 1;
    grid-column: 2;
}

















/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Header */
    .div-underline-move {
        width: 100px;
        height: 3px;
        background-color: #fff;
    
        justify-self: start;
    }
    /* Body */
    .div-outter-wrapper {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    
        background-color: #1c1c1c;
    }
    .div-wrapper-p {
        grid-row: 1;
        grid-column: 1;

        z-index: 1;
    }
    .div-wrapper-a {
        grid-row: 1;
        grid-column: 1;

        z-index: 0;
    }
    /* Footer */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* Header */
    /* Body */
    /* Footer */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* Header */
    /* Body */
    /* Footer */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* Header */
    /* Body */
    /* Footer */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* Header */
    /* Body */
    /* Footer */
}