/* All devices */
/* Variables */
/* Header */
.div-underline-move {
    width: 100px;
    height: 3px;
    background-color: #fff;

    justify-self: end;
}



/* Body */
.div-box-inner-wrapper {
    display: grid;
    grid-template-rows: 160px 20px 20px;
    grid-template-columns: 1fr 10fr 1fr;

    background-color: #1c1c1c;
}
.div-img {
    grid-row: 1;
    grid-column: 1;
}
.div-text {
    font-size: 12px;
    grid-row: 1;
    grid-column: 2;
}
.div-link {
    font-size: 12px;
    grid-row: 2;
    grid-column: 2;
}
.div-date {
    font-size: 12px;
    grid-row: 3;
    grid-column: 2;
}



/* Footer */



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}